$btn-padding-y:1rem;
$g1btn-color:white; 
$g1background-color:rgb(46, 43, 43);
$low:'50';
$normal:'100';
$high:'200';
$g1btnbright: $low $normal $high;
$rightbar-img: (
    "primary":10px,
    "secondary":20px,
    "round":30px
);
