#w{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#w img{
    /*flex:30%;*/
    width: 30%;
    height: auto;
    margin: 5px;
}
@media screen and (max-width:830px){
    #w{
        display:flex;
        flex-wrap: wrap;
    }
    #w img{
        /*flex:48%;*/
        width: 48%;
        height: auto;
        margin:5px;
    }
}
@media screen and (max-width:600px){
    #w{
        display:flex;
        flex-wrap: wrap;
    }
    #w img{
        /*flex:100%;*/
        width: 100%;
        height:auto;
    }
}